.grafik-chart-body{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    border: 1px solid tomato;
}

.rank-chart-body{
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    margin-top: auto;
    border: 1px solid turquoise;
}
