.data-nav {
  position: absolute;
  z-index: 100;
}

.graph-section {
  min-height: 80vh;
  scroll-margin: 150px;
}

.graph-item {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 5px solid red;
  height: 80vh;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.8em;
}

.active-county {
  display: block;
  height: 100px;
  padding: 2rem;
  position: sticky;
  background: rgba(255, 255, 255, 1);
  z-index: -1;
}

.active-county > h1 {
  color: #29b7a4;
  font-weight: bold;
  z-index: 10;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0.5rem;
}

.analize-feature {
  display: flex;
  justify-content: center;
}

.analize-feature > button {
  background-color: #29b7a4;
  color: white;
  border-color: aliceblue;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0.5rem;
}

.info-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-inline: 2em;
  height: 3rem;
  margin-top: 0.5em;
  border: 1px solid gray;
}

.info-container > .svg-icon {
  padding: 5px;
}

.svg-icon > img {
  height: 2rem;
  width: 2rem;
}

.two-column {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.two-column > * {
  flex-basis: 50%;
}
.three-column {
  display: flex;
}
.three-column > * {
  flex-basis: 33.333%;
}

.info-text {
  flex-shrink: 1;
}

/* || Phone */
@media screen and (max-width: 576px) {
  .graph-section {
    min-height: 30vh;
    scroll-margin: 125px;
  }
  .graph-item {
    border: 2px solid blue;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .active-county {
    height: 3.5rem;
    padding: 1rem;
  }

  .active-county > h1 {
    color: #29b7a4;
    font-weight: bold;
    font-size: 1.25rem;
    z-index: 10;
  }
  .info-container {
    height: 2rem;
  }
  .svg-icon > img {
    height: 1.5rem;
    width: 1.5rem;
  }
}

/* || Landscape Phone */
@media screen and (min-width: 576px) {
  .graph-section {
    min-height: 30vh;
    scroll-margin: 150px;
  }
  .graph-item {
    border: 2px solid greenyellow;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .active-county {
    height: 4rem;
    padding: 1rem;
  }

  .active-county > h1 {
    color: #29b7a4;
    font-weight: bold;
    font-size: 1.25rem;
    z-index: 10;
  }

  .info-container {
    height: 2rem;
  }

  .svg-icon > img {
    height: 1.5rem;
    width: 1.5rem;
  }
}
/* || Tablets */
@media screen and (min-width: 768px) {
}
/* || Desktops */
@media screen and (min-width: 992px) {
  .graph-section {
    min-height: 45vh;
    scroll-margin: 150px;
  }

  .graph-item {
    border: 5px solid purple;
    height: 60vh;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .active-county {
    display: block;
    height: 100px;
    padding: 2rem;
    position: sticky;
    background: rgba(255, 255, 255, 1);
    z-index: -1;
  }

  .active-county > h1 {
    color: #29b7a4;
    font-weight: bold;
    font-size: 2rem;
    z-index: 10;
  }
}
/* || Large Desktops */
@media screen and (min-width: 1200px) {
  .graph-section {
    min-height: 80vh;
    scroll-margin: 150px;
  }

  .graph-item {
    border: 5px solid red;
    min-height: 80vh;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .active-county {
    display: block;
    height: 6rem;
    padding: 2rem;
    position: sticky;
    background: rgba(255, 255, 255, 1);
    z-index: -1;
  }

  .active-county > h1 {
    color: #29b7a4;
    font-weight: bold;
    font-size: 2rem;
    z-index: 10;
  }
  .info-container {
    height: 2.5rem;
  }
  .svg-icon > img {
    height: 2rem;
    width: 2rem;
  }
}

/* || Larger Desktops */
@media screen and (min-width: 1400px) {
  .graph-section {
    min-height: 65vh;
    scroll-margin: 150px;
  }
  .graph-item {
    border: 5px solid hotpink;
    min-height: 65vh;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .info-container {
    height: 4rem;
  }
}
