* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map-storytelling {
  position: fixed;
  top: 0;
  z-index: -99;
  }

#story-section {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.chapter {
  width: 100vw;
  height: 100vh;
  padding: 50px 50px;
  /* border: 1px solid white; */
}
.chapter-card {
  width: 20rem;
  padding: 1rem;
}

@media screen and (max-width: 576px) {

  .card-text {
    font-size: 0.75rem;
  }
  .chapter {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
  }
  .chapter-card {
    top: 60vh;
    width: 100%;
    padding: 1rem;
  }
}

/* || Landscape Phone */
@media screen and (min-width: 576px) {
  .card-text {
    font-size: 0.8rem;
  }
  .chapter {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
  }
  .chapter-card {
    top: 75vh;
    width: 100%;
    padding: 1rem;
  }
}
/* || Tablets */
@media screen and (min-width: 768px) {
}
/* || Desktops */
@media screen and (min-width: 992px) {
  .chapter {
    width: 100vw;
    height: 100vh;
    padding: 50px 50px;
    /* border: 1px solid white; */
  }
  .chapter-card {
    top: 0;
    width: 20rem;
    padding: 1rem;
  }
}
/* || Large Desktops */
@media screen and (min-width: 1200px) {
}

/* || Larger Desktops */
@media screen and (min-width: 1400px) {
}
