#map-view {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    height: 100vh;
}

header, footer {
    position: sticky;
}

header {
    top: 0;
    border-bottom: 1px solid grey;
}

#toggle-properti {
    height: 5vh;
    position: relative;
    z-index: 100;
}
.toggle-handler {
    position: relative;
}

main {
    height: 80vh;
    overflow: hidden;
}

#mapbox-view {
    height: 80vh;
    overflow: hidden;
}

#grafik-section {
    height: 80vh;
    flex-grow: 1;
    overflow: hidden;
}

.graph-toggle-button {
    font-size: 12px;
}

footer {
    display: flex;
    position: relative;
    bottom: 0;
    height: 5vh;
    font-size: 0.875rem;
}



@media screen and (max-width : 576px) {
    header {
        top: 0;
        height: 10vh;
        border-bottom: 1px solid grey;
    }
    #mapbox-view {
        height: 35vh;
    }

    #grafik-section {
        height: 45vh;
        font-size: 10px;
    }

    #toggle-properti {
        position: relative;
        z-index: 100;
        overflow-x: scroll;
        white-space: nowrap;
    }
    

    footer {
        font-size: 8px;
    }
}
@media screen and (min-width : 576px) {
    header {
        top: 0;
        border-bottom: 1px solid grey;
    }
    #mapbox-view {
        height: 35vh;
    }

    #grafik-section {
        height: 45vh;
        font-size: 10px;
    }

    #toggle-properti {
        position: relative;
        z-index: 100;
        overflow-x: auto;
        white-space: nowrap;
    }
    

    footer {
        font-size: 10px;
    }
}
@media screen and (min-width : 768px) {

}
@media screen and (min-width : 992px) {
    #map-view {
        overflow-y: hidden;
    }
    #mapbox-view {
        height: 80vh;
    }
    #grafik-section {
        height: 80vh;
        font-size: 1rem;
    }
    footer {
        font-size: 0.875rem;
    }
}
@media screen and (min-width : 1200px) {
    #map-view {
        overflow-y: hidden;
    }
    #mapboxview {
        height: 100%;
    }
}
@media screen and (min-width : 1400px) {
    #mapboxview {
        height: 100%;
    }
}