#map-page {
  height: 100vh;
  width: 100vw;
}

.loading-page{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-page p {
  font-weight: bold;
  font-size: 2rem;
  color: #29b7a4;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#29b7a4 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#29b7a4);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
}

#header-map {
  height: 10vh;
}

#mapbox-section {
  height: 85vh;
  /* border-bottom: 1px solid gray; */
  /* border-top: 1px solid gray; */
  padding: 0;
}

#graph-section {
  height: 85vh;
  /* border-bottom: 1px solid gray; */
  /* border-top: 1px solid gray; */
  padding: 0;
  overflow-y: scroll;
}

#graph-section::-webkit-scrollbar {
  width: 5px; /* Lebar scrollbar */
}

#graph-section::-webkit-scrollbar-thumb {
  background-color: #29b7a4; /* Warna thumb (bagian yang bisa digeser) */
  border-radius: 5px; /* Border radius thumb */
}

#graph-section::-webkit-scrollbar-track {
  background-color: white; /* Warna track (bagian latar belakang scrollbar) */
}

#footer {
  height: 5vh;
}

@media screen and (max-width: 576px) {
  #mapbox-section {
    height: 35vh;
  }
  #graph-section {
    height: 50vh;
  }
  #graph-section::-webkit-scrollbar {
    width: 2.5px; /* Lebar scrollbar */
  }
  
  #graph-section::-webkit-scrollbar-thumb {
    background-color: #29b7a4; /* Warna thumb (bagian yang bisa digeser) */
    border-radius: 5px; /* Border radius thumb */
  }
  
  #graph-section::-webkit-scrollbar-track {
    background-color: white; /* Warna track (bagian latar belakang scrollbar) */
  }
}

/* || Landscape Phone */
@media screen and (min-width: 576px) {
  #mapbox-section {
    height: 35vh;
  }
  #graph-section {
    height: 50vh;
  }
}
/* || Tablets */
@media screen and (min-width: 768px) {
}
/* || Desktops */
@media screen and (min-width: 992px) {
  #mapbox-section {
    height: 85vh;
  }
  #graph-section {
    height: 85vh;
  }
}
/* || Large Desktops */
@media screen and (min-width: 1200px) {
}

/* || Larger Desktops */
@media screen and (min-width: 1400px) {
}
